/* Force IBM Plex Sans on entire site */
* {
  font-family: 'IBM Plex Sans', sans-serif !important;
}

body {
  font-family: 'IBM Plex Sans', sans-serif !important;
}

html {
  font-family: 'IBM Plex Sans', sans-serif !important;
}

/* Import mobile styles */
@import './styles/mobile.css';